html{
  /* margin-top: 250px; */
  margin-right: 50px;
  margin-left: 50px;
  font: 18px/1.4 system-ui;
  position: center;
}
body{
  background-color: darkgray;
  position: center;
  margin-right: 50px;
  margin-left: 50px;
}
.row-aboutMe {
  font-size: 14px;
  color: white;
  margin-right: 50px;
  margin-left: 50px;
}
h1 {
  padding-top: 20px;
}
.row {
  padding-bottom: 10px;
  color: white;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
}
.p-below-nav {
font-size: 24px;
font-weight: bold;
text-align: center;
margin-left: 50px;
margin-right: 50px;
width: 100%;
}
header {
  background-color: #004d40;
  color: white;
  font-size: 35px;
  margin-bottom: 50px;
  border-bottom: coral;
  width: 100%;
}
.img-header {
  float: left;
  width: 100px;
  height: 100px;
  padding: 20px;
}
.box-title {
  font-size: 25px;
  color:darkslategrey ;
}
.box-text {
  padding-bottom: 10px;
  font-size: 16px;
  color:darkslategrey ;
}
nav{
  width: 100%;
}
.img-portfolio {
  float: left;
  height: 250px;
  width: 300px;
  margin: 40px;
}
.img-aboutMe {
  height: 75px;
  width: 75px;
}
.nav-pills {
  background-color: gray;
  font-size: 16px;

}
.nav-link {
  background-color: gray;
  color: white;
}
h5 {
  color:  #004d40;
  font-weight: bold;
  font-size: 20px;
}
a {
  font-size:20px;
}
p {
  color: #004d40;
  font: size 12px;
}
.p-aboutMeblurb {
  padding:5px;
  color: white;
  font-size:20px;
  background-color: coral;
  text-align: center;
}
footer {
  background-color: #004d40;
  text-align: center;
  color: white;
  font-size: 25px;
}
.portfolio-div {
  column-gap: 200px;
}
.container { 
  margin-left: 50px;
}
.a-portfolio {
  font-size: 16px;
}
form {
  border-radius: 3px;
  color: #004d40;
  border:1px;
}
 #form_title {
   font-size:20px;
   color: coral;
}
label {
  font-weight: bold;
  color: coral;
  text-align: left;
}
.thead {
  color: coral;
}
.card-header {
  color: #004d40;
  font-size: 25px;
  margin-left: 50px;

}
tbody {
  word-break: break-all;

  color: coral;
}
table thead tr td th { 
  color: coral;  font-size: 16px;
}
.card-body {
  margin-right: 50px;
  color: coral;
  margin-left: 50x;
}
.no-gutters {
  margin-left: 50px;
  margin-right: 50px;
}
@media (max-width: 600px) {
  nav, footer, header body .container{
      width: 100%;    
 }
}
@media (max-height: 250px) {
  nav, footer, heade, body  .container{
      width: 100%;
 }
}
@media (min-width: 576px) {
  nav, footer, header, body .container{
      padding: 0px;
 }
}
@media (min-width: 768px) {
  nav, footer, header, body .container{
      padding: 0px;
 }
} 
@media (min-width: 992px) {
  nav, footer, header, body .container {
      padding: 0px;
 }
}
 @media (min-width: 1200px) {
  nav, footer, header, body  .container {
      padding: 0px; 
 }